head
    meta(charset="UTF-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="robots" content="index,follow")
    meta(name="flexible" content="initial-dpr=1")
    script(type="text/javascript" src="js/flexible.js")
    meta(name="apple-mobile-web-app-capable" content="yes")
    //-启用 WebApp 全屏模式
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="full-screen" content="yes")
    //-UC强制全屏
    meta(name="x5-fullscreen" content="true")
    //-QQ强制全屏
    meta(name="format-detection" content="telephone=no")
    meta(content="email=no" name="format-detection")
    title lib.flexible
    link(rel="stylesheet" href="css/style.css")