//reset styles
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
html, body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #434343;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  //font-size: 62.5%;
}
body, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, fieldset, input, textarea, p, blockquote, hr, button, pre, details, figcaption, figure, hgroup, menu {
  margin: 0;
}
body, label, button, input, select, option, textarea, fieldset, legend {
  font-family: "Helvetica Neue","Microsoft YaHei", Helvetica, Arial, sans-serif;
  line-height: 1.5;-webkit-tap-highlight-color: rgba(0,0,0,0);
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {
  display: block;
}
audio, canvas, video, progress {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
ol, ul { padding-left: 0; list-style: none outside none; }
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
caption, em, i, th { font-style: normal; }
a, img { -webkit-touch-callout: none; }
a {
  background: transparent; /*Remove the gray background color from active links in IE 10.*/
  color: #434343;
  line-height: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:active { text-decoration: underline; outline: 0 }
ins, a, [class^="btn"]:active { text-decoration: none; }
a, button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"]::-webkit-file-upload-button, input[type="radio"], input[type="checkbox"], input[type="radio"] + label, input[type="checkbox"] + label {
  cursor: pointer;
}
label, input, select, textarea { font-size: 100%; }
label, input, select, button { vertical-align: middle; }
button, select { text-transform: none; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="text"], input[type="search"], input[type="password"] {
  border: 0;
  outline: 0;
}
input { line-height: normal; }
input[type="radio"], input[type="checkbox"] { padding: 0; }
input[type="text"], input[type="password"], input[type="search"], select, textarea {
  padding: 3px 4px;
}
input[type="text"], input[type="password"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input::-moz-focus-inner, button::-moz-focus-inner {
  /*Remove inner padding and border in Firefox 4+. */
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
:focus { outline: 0; }
::-webkit-input-placeholder {
  color: #cecece;
}
::-moz-placeholder {
  color: #cecece;
}
:-ms-input-placeholder {
  color: #cecece;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
[disabled] { cursor: default; }
img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
abbr[title] { border-bottom: 1px dotted; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
small { font-size: 80% }
q:before, q:after { content: ''; }
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
svg:not(:root) { overflow: hidden; }


//public styles
.hide, [hidden] { display:none!important; }
.left { float:left; }
.right { float:right; }
/*clear floats */
.clearfix:before, .clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }

body {
  .pos-r { position: relative; }
  .pos-a { position: absolute; }
  .pos-f { position: fixed; }
  .d-b { display: block; }
  .d-inB { display: inline-block; }
  .wd-full { width: 100%; }
  .ht-full { height: 100%; }
  .vt { vertical-align: top; }
  .vm { vertical-align: middle; }
  .vb { vertical-align: bottom; }
  .tAl { text-align: left; }
  .tAc { text-align: center; }
  .tAr { text-align: right; }
  .bold { font-weight: 700; }
  .let-sp0 { letter-spacing: 0; }
}
.tInd2em { text-indent: 2em; }
.tEllipsis {
  /*Replace the overflowed texts with ellipsis. */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*grid*/
.pure-g {
  letter-spacing: -0.31em; /*Webkit: collapse white-space between units */
  *letter-spacing: normal; /*reset IE < 8 */
  *word-spacing: -0.43em; /*IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /*Webkit: fixes text-rendering: optimizeLegibility */
  /*
  Sets the font stack to fonts known to work properly with the above letter
  and word spacings. See: https://github.com/yahoo/pure/issues/41/
  The following font stack makes Pure Grids work on all known environments.
  *FreeSans: Ships with many Linux distros, including Ubuntu
  *Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
    Arial to get picked up by the browser, even though neither is available
    in Chrome OS.
  *Droid Sans: Ships with all versions of Android.
  *Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
  */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  /*
  Use flexbox when possible to avoid `letter-spacing` side-effects.
  NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
  `-moz-` prefix version is omitted.
  */
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /*IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
  /*Prevents distributing space between rows */
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/*Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em;
}
.pure-u {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: inline-block;
  *display: inline; /*IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.pure-g [class *= "pure-u"] {
  font-family: sans-serif;
}
.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%
}
.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%
}
.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
  *width: 12.469%
}
.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%
}
.pure-u-1-5 {
  width: 20%;
  *width: 19.969%
}
.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%
}
.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
  *width: 24.969%
}
.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%
}
.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%
}
.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
  *width: 37.469%
}
.pure-u-2-5 {
  width: 40%;
  *width: 39.969%
}
.pure-u-5-12, .pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%
}
.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%
}
.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
  *width: 49.969%
}
.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%
}
.pure-u-7-12, .pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%
}
.pure-u-3-5 {
  width: 60%;
  *width: 59.969%
}
.pure-u-5-8, .pure-u-15-24 {
  width: 62.5%;
  *width: 62.469%
}
.pure-u-2-3, .pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%
}
.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%
}
.pure-u-3-4, .pure-u-18-24 {
  width: 75%;
  *width: 74.969%
}
.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%
}
.pure-u-4-5 {
  width: 80%;
  *width: 79.969%
}
.pure-u-5-6, .pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%
}
.pure-u-7-8, .pure-u-21-24 {
  width: 87.5%;
  *width: 87.469%
}
.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%
}
.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%
}
.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
  width: 100%
}