doctype HTML
html(lang="zh-CN")
    include includes/head
    body
        header
            img(src="images/TB1PNLZKXXXXXaTXXXXXXXXXXXX-750-481.jpg")
        .container
            - for(x=0; x < 10; x++)
                .item
                    a(href="#").pro-img
                        img(src="images/bag.jpg")
                    .content
                        h3
                            a(href="#") Carter's1年式灰色长袖连体衣包脚爬服全棉鲸鱼男婴儿童装115G093
                        .flag-price
                            mark 双11价
                            span ￥299.06
                            em (满400减100)
                        p 1小时内热卖5885件
                        a(href="#").buy 马上抢!
        include includes/foot
